* {
    margin: 0;
    padding: 0;
}

html {
    max-width: 100%;
    /* overflow: hidden; */
    
}

body {
    margin-left: 10%;
    margin-right: 10%;
    /* height: 100vh;  */
    /* overflow: hidden; */
    background-color: #FFF8E8;
    max-width: 100%;

}

h1 {
    /* font-family: Halyard Display Regular, Helvetica, sans-serif ; */
    font-family: "Helvetica Neue", sans-serif ;
    font-style: normal;
    font-weight: 400;
    margin-top: 1em;
    margin: 0;
    letter-spacing: -0.1px;
    font-size: 2em;
}

h2 {
    /* font-family: Halyard Display Light, Helvetica, sans-serif ; */
    font-family: "Helvetica Neue", sans-serif ;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    letter-spacing: -0.1px;
    text-align: center;
    padding: 5px;
}


h2.row {
    color: white;
    text-align: left;
}

h5 {
    /* font-family: Halyard Display Light, Helvetica, sans-serif ; */
    font-family: "Helvetica Neue", sans-serif ;
    font-style: italic;
    font-weight: 400;
    letter-spacing: -0.1px;    
    margin: 10px;
    text-align: center;
}

section {
    height: 100vh;
    width: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

.container {
    height: 90%;
}

.wrapper {
    display: inline-block;
    /* max-width: 1400px; */
    width: 95%;
    text-align: left;
}

.container-text {
    /* padding-top: .5em; */
    height: 30px;
    width: auto;
    display: flex;
    justify-content: space-between;
    /* padding: 30px; */
    /* position: fixed; */

}

.dirm {
    width: 120px;
    /* position: fixed; */
    left: 0%;
    text-align: left;
}

.luawo {
    width: 130px;
    /* position: fixed; */
    right: 0%;
    text-align: right;
}


.column {
    float: left;
    width: 33.33%;
    height: 50%;
    position: relative;
    overflow: hidden;
  }
  
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
bottom: 0;
position: relative;
}

.column-one {
float: left;
width: 100%;
height: 5%;
}

/* .contain-fix{ 
    display: flex;
} */





/*iphone styles here*/

html {
    max-width: 100%;
    overflow: hidden;
    
}

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    /* background-color: black; */
    max-width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.wrapper {
    display: inline-block;
    /* max-width: 1400px; */
    width: 80%;
    text-align: left;
}

.first-name {
    display: inline-block;
    width: 49%;
    text-align: left;
}

.last-name {
    display: inline-block;
    width: 49%;
    text-align: right;
}

.semester {
    width: 100%;
    color: white;
    text-align: end;
    padding: 0;
}

h2.semester {
    text-align: left;
    padding-left: 20px;
    color: white;
}


.project {
    display: inline-block;
    width: 33%;
    text-align: left;
    overflow: hidden;
    height: 40%;
    padding: 0;
}



.center-fit {
    max-width: 95%;
    max-height: 95vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.left {
    display: inline-block;
    width: 49%;
    height: 100px;
}

.right {
    display: inline-block;
    width: 49%;
    height: 100px;
}

.default-font {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 30px;
    line-height: 1.25em;
    letter-spacing: 0.25px;
    letter-spacing: normal;
}

.rectangle {
    width: 95%;
    height: 10px;
    margin-top: 110px;
    background-color: white;
}

/* h1, h2, p {
    text-align: left;
    color: white;
    padding-left: 20px;
    line-height: 0.3em;
    font-weight: bold;
}
 */

















@media only screen and (max-width: 375px) and (max-width: 900px){
   
    body {
        background-color: honeydew;
    }

    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 3em;
    }
    
    
    h2.row {
        font-size: 3em;
    }
    
    h5 {
        font-size: 1em;
    }
    
    
    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    bottom: 0;
    position: relative;
    }
    
    /* h1 {
        font-size: 6em;
    }

    h2 {
        font-size: 5px;
    }

    p {
        font-size: 7em;
    } */

}

/* @media only screen and (min-width: 769px) and (max-width: 992px){ */