* {
    margin: 0;
    padding: 0;
}

html {
    max-width: 100%;
    /* overflow: hidden; */
    
}


@font-face {
  font-family: Standard-Medium;
  src: url("StandardCT-Regular2.otf")
}

@font-face {
  font-family: Akzidenz-Grotesk-Regular;
  src: url("../assets/font/AkzidenzGroteskStd-Regular.otf")
}

body {
    margin-left: 10%;
    margin-right: 10%;
    /* height: 100vh;  */
    /* overflow: hidden; */
    background-color: #000000;
    max-width: 100%;

}

h1 {
    font-family: "Akzidenz-Grotesk-Regular" ;
    font-weight: regular;
    margin-top: 1em;
    margin: 0;
    letter-spacing: -0.1px;
    font-size: 1.5em;
    color: white;
}

h2 {
    /* font-family: Halyard Display Light, Helvetica, sans-serif ; */
    font-family: "Helvetica Neue", sans-serif ;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    letter-spacing: -0.1px;
    text-align: center;
    padding: 5px;
}


h2.row {
    color: white;
    text-align: left;
}

h3 {
  font-family: "Standard-Medium";
    font-weight: medium;
    margin: 0;
    letter-spacing: -0.1px;
    text-align: left;
    padding: 2px;
    font-size: 2em;
    color: white;
    text-align: center;
}

i {
  font-family: "Helvetica Neue", sans-serif ;
  font-style: italic;
  font-weight: 400;
  margin: 0;
  letter-spacing: -0.1px;
  text-align: left;
  padding: 2px;
  font-size: 1.5em;
  color: gray;
}

h5 {
    /* font-family: Halyard Display Light, Helvetica, sans-serif ; */
    font-family: "Helvetica Neue", sans-serif ;
    font-style: italic;
    font-weight: 400;
    letter-spacing: -0.1px;    
    margin: 10px;
    text-align: center;
    color: white;
}


.highlight:hover img {  opacity: .7;}
    .highlight:hover a {color: #FA7870;}


a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #FA7870;
}

.column {
    float: left;
    width: 33.33%;
    height: 50%;
    position: relative;
    overflow: hidden;
  }
  
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
bottom: 0;
position: relative;
}

.column-one {
float: left;
width: 100%;
height: 5%;
}


.container {
    width: 100%;
  }


img {
  opacity: 1;
}

/* img:hover {
  opacity: .7;
} */

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.rectangle {
  width: 100%;
  height: auto;
  color:black;
}

section {
  height: 12vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  border: 2px white solid;
  margin-left: auto;
  margin-right: auto;
}

button {
  height:100px;
  width: 300px;
  background-color:aqua;
  color: black;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  font-size: 2em;
}

.btn.img{
  display:flex;
  justify-content:center;
  align-items: center;
  object-fit: cover;
  background-image: cover;
}


  .grid-container {
      display: grid;

      /* background-color: #2196F3; */
      /* padding: 10px; */
      width: 100%;
      grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
      grid-template-rows: auto auto auto auto auto;
      /* 11 rows */
      height: auto;
      column-gap: 2%;
      row-gap: 30px;
      /* margin-right: 7%; */
    }
  
    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      font-size: 30px;
    }



  
    .grid-item-1 {
      /* background-color: red; */
      text-align: left;
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 1;
      font-size: 1.2em;
      padding-top: 1.2em;
    }
  
    #grid-item-2 {
      text-align: left;
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 2;
    }
  
    #grid-item-3 {
      /* background-color: green; */
      text-align: left;
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 3;
    }

    #grid-item-4 {
        text-align: left;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 4;
      }
  
  
/* .contain-fix{ 
    display: flex;
} */

@media all and (max-width: 918px){
   
  section {
    height: 12%;
  }

}
/* @media only screen and (min-width: 769px) and (max-width: 992px){ */

  