*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
}


h1 {
    /* font-family: Halyard Display Regular, Helvetica, sans-serif ; */
    font-family: "Helvetica Neue", sans-serif ;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    letter-spacing: -0.1px;
}

h2 {
    /* font-family: Halyard Display Light, Helvetica, sans-serif ; */
    font-family: "Helvetica Neue", sans-serif ;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    letter-spacing: -0.1px;
    text-align: center;
    padding: 5px;
    color: black;
}


h2.row {
    color: black;
    text-align: left;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: black;
    font-size: 50px;
    line-height: 56px;
}


h4 {
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
}

h5 {
    /* font-family: Halyard Display Light, Helvetica, sans-serif ; */
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: -0.1px;    
    margin: 10px;
    text-align: center;
    color: black;
}

section {
    height: 100vh;
    width: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}

p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    letter-spacing: -0.1px;
    color: black;
    font-size: 1.3em;
    line-height: 1.3em;
}


.container-text {
    height: 30px;
    width: auto;
    display: flex;
    justify-content: space-between;
    /* padding: 30px; */
    /* position: fixed; */
}

.dirm {
    width: 120px;
    /* position: fixed; */
    left: 0%;
    text-align: left;
}

.luawo {
    width: 130px;
    /* position: fixed; */
    right: 0%;
    text-align: right;
}

/* div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black;
} */


.column {
    float: left;
    width: 33.33%;
    height: 50%;
    position: relative;
    /* overflow: hidden; */
}
  
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
bottom: 0;
position: relative;
}

.column-one {
float: left;
width: 100%;
height: 5%;
}




.container {
  width: 100%;
}

.grid_container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}



.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    /* background-color: #2196F3; */
    /* padding: 10px; */
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    /* 11 rows */
    height: auto;
    column-gap: 30px;
    row-gap: 30px;
    margin-right: 7%;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
  }

  .grid-item-1 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    padding-top:10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .grid-item-2 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .grid-item-3 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .grid-item-4 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .grid-item-5{
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .grid-item-6 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .grid-item-7 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  
  .grid-item-8 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
  }


  .grid-item-9 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  .grid-item-10 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  .grid-item-11 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6;
  }

  .grid-item-12 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 6;
  }
  
  .grid-item-13 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 7;
  }

  .grid-item-14 {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 7;
  }

  .grid-item-15 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 8;
  }

  .grid-item-16 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 8;
  }

  .grid-item-17 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 9;
  }

  .grid-item-18 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 9;
  }

  .grid-item-19 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 10;
  }


  .grid-item-20 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 10;
  }

  .grid-item-21 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 11;
    grid-row-end: 11;
  }

  .grid-item-22 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 11;
    grid-row-end: 11;
  }

  .grid-item-23 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 8;
  }

  .grid-item-24 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 10;
  }  

  .grid-item-25 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 10;
  }

  .grid-item-26 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 10;
  }  

  .grid-item-27 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 13;
  }  

  .grid-item-28 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 12;
    grid-row-end: 12;
  }  



 

  hr{
    border: 1px solid black;
  }


/* img:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
    overflow: visible;
} */

.animate__animated .animate__fadeInUp {
  --animate-duration: 9a;
  /* --animate-delay: 0.9s; */
}

